
  <!-- <ion-label>B</ion-label>
  <ion-select value="CRIME"  multiple="true" okText="Okay" cancelText="Dismiss">
    <ion-select-option value="brown">POLITICS</ion-select-option>
    <ion-select-option value="blonde">COURT</ion-select-option>
  </ion-select> -->
<ion-list>
  <ion-item>
      <ion-checkbox color="danger"> </ion-checkbox>
    <ion-label>&nbsp;&nbsp;POLITICS</ion-label>

  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
      <ion-checkbox color="danger"> </ion-checkbox>
    <ion-label>&nbsp;&nbsp;COURT</ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-button>OK</ion-button>
  </ion-item> -->
</ion-list>
