// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@font-face {
    font-family: "FajerNoori";
    src: url("assets/fonts/fajer-noori-nastalique-regular.ttf");
}

:root{
    --ion-red: #da0000;
}

.urdu-desc {
    font-family: 'FajerNoori' !important;
    direction: rtl;
}

.mainBase>ion-col {
    height: calc(100vh - 67px);
}

ion-content{
    height: calc(100vh - 67px);
}