<ion-card no-margin>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="1" text-center>
        <p no-margin>A</p>
      </ion-col>
      <ion-col size="3" text-right>
        <p no-margin>Kashmir Day |</p>
      </ion-col>
      <ion-col size="6">
        <p no-margin>LHR - Nathia Galli Gathering
          <span class="small-text">-100876</span>
        </p>
      </ion-col>
      <ion-col size="2">
        <p no-margin text-right>3 min ago</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button class="create_button">Close</ion-button>
        <!-- <p no-margin padding>
          <span class="create_button">Close</span>
        </p> -->
      </ion-col>
      <ion-col size="9">
        <p no-margin class="urdu-desc">پاکستان نے بھارت سے اپنے ہائی کمشنر کو واپس بلا لیا</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6" no-padding>
        <app-dayplan-comments></app-dayplan-comments>
        <app-dayplan-comments></app-dayplan-comments>
        <ion-row class="extra">
          <ion-col size="2">
            <p no-margin class="small-text" text-left>1 min ago</p>
          </ion-col>
          <ion-col size="8">
            <p no-margin class="urdu-desc urdu-font">کیمرا لے جانا اور ثاقم کو ساتھ لے کے جانا</p>
            <p no-margin class="text" text-right>+7 more</p>
          </ion-col>
          <ion-col size="2" text-center>
            <img src="http://d1ouwe0zp93mt3.cloudfront.net/reporter3476">
          </ion-col>
        </ion-row>
        <ion-row class="commnet_footer">
          <ion-col size="2">
            <img src="https://cdn3.vectorstock.com/i/1000x1000/83/62/clock-icon-isolated-on-blue-background-vector-21488362.jpg">
          </ion-col>
          <ion-col size="4">
            <p no-margin text-left>3:30 PM</p>
          </ion-col>
          <ion-col size="4">
            <p no-margin text-right>CID-Karachi</p>
          </ion-col>
          <ion-col size="2">
            <img src="http://d1ouwe0zp93mt3.cloudfront.net/reporter3476">
          </ion-col>
          <!-- <ion-col size="6" text-end>
            <p no-margin>CID-Karachi</p>
            <p no-margin>
              <img src="https://pixel.nymag.com/imgs/daily/vulture/2017/06/14/14-tom-cruise.w700.h700.jpg">
            </p>
          </ion-col> -->
        </ion-row>
      </ion-col>
      <ion-col size="12" size-md="6" no-padding>
        <app-dayplan-news></app-dayplan-news>
        <app-dayplan-news></app-dayplan-news>
        <ion-row class="extra">
          <ion-col size="2">
            <p no-margin class="small-text" text-left>1 min ago</p>
          </ion-col>
          <ion-col size="8">
            <p no-margin class="urdu-desc urdu-font">وزیر خارجہ بات کریں گے</p>
            <p no-margin class="text" text-right>+7 more</p>
          </ion-col>
          <ion-col size="2">
            <p class="circle">P&G</p>
          </ion-col>

        </ion-row>
        <ion-row class="news_footer">
          <ion-col size="1.7">
            <img src="https://cdn0.iconfinder.com/data/icons/pixon-1/24/Attach_Attachment-512.png">
            <p no-margin>(2)</p>
          </ion-col>
          <ion-col size="1.8">
            <img src="http://grbsolicitors.com/wp-content/uploads/2017/06/1-criminal-icon.png">
            <p no-margin>Cr</p>
          </ion-col>
          <ion-col size="2.8">
            <img src="http://d1ouwe0zp93mt3.cloudfront.net/reporter3476">
            <p no-margin>Shakeel</p>
          </ion-col>
          <ion-col  class="letter-set">
            <p no-margin class="I-icon">
              <span>I</span>
            </p>
            <p no-margin class="R-icon">
              <span>R</span>
            </p>
            <p no-margin class="tick-icon">
              <ion-icon name="checkmark"></ion-icon>
            </p>
          </ion-col>
          <!-- <img class="beat_image" src="https://cdn2.iconfinder.com/data/icons/lawyer-set-circle/220/advokat_set-47-512.png">
            <p no-margin class="beat-text">Crime</p> -->
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>