div {
    width: 100px;
    height: 120px;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    top: 0;
    left: 0;
    img {
        width: 100px;
        height: 100px;
        border-radius: 6px;
    }
    p {
        font-size: 11px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span {
        background: rgba(0, 0, 0, .6);
        color: #fff;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4px;
        text-align: right;
        ion-icon{
            cursor: pointer;
        }
    }
}