<!-- Generated template for the CitySearchComponent component -->
<div class=citySearchBox>
    <ion-item>
        <ion-label> <ion-icon name="search"></ion-icon></ion-label>
        <ion-input type="text"   [(ngModel)]="searchText" (ionChange)="onSearchChange($event)" placeholder="Enter Slug" ></ion-input>
        <!-- <input type="text" [(ngModel)]="searchText"  (ngModelChange)="onSearchChange($event)" placeholder="Search">     -->
        <!-- <span></span> -->
        <ion-button (click)="addNew()" slot="end">Create</ion-button>
        <!-- <ion-icon name="search"></ion-icon> -->
</ion-item>
 <ul>
    <li *ngFor="let sc of selectedCites" (click)="select(sc)">
      {{ sc.SlugTitle }}
    </li>

  </ul>
</div>
