<ion-header>
    <ion-toolbar>
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-title>Upcoming Happenings</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
</ion-content>

<ion-footer>
  <ion-grid>

    <ion-row>
      <ion-col size="11" no-padding>
        <ion-list class="drop-down" no-padding>
          <ion-item>
            <p no-margin (click)="SelectSlug()">{{selectedSlug}}</p>
            <ion-input placeholder="Enter Title"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="1" no-padding>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11" no-padding>
        <ion-list class="drop-down" no-padding>
          <ion-item>
              <ion-icon name="clock"></ion-icon>
            <ion-label>Date & Time</ion-label>
            <ion-datetime displayFormat="MMM/D/YYYY | hh:mm A" pickerFormat="MM/DD/YYYY H:mm"
          placeholder="01/29/2019 | 07:30 PM"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11" no-padding>
        <ion-list class="drop-down" no-padding>
          <ion-item>
            <textarea #myInput id="myInput" rows="1" (keyup)="resize()" [(ngModel)]="tickerText" placeholder=" یہاں لکھیں"></textarea>
          </ion-item>

        </ion-list>

      </ion-col>
      <ion-col no-padding text-center>
        <p class="send-icon" no-margin>
          <span (click)="addNews()">
            <ion-icon name="paper-plane"></ion-icon>
          </span>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>