ion-content{
    --background: #f5f5f5;
}

ion-footer {
    background: #f5f5f5;
    .highlight {
        background: var(--ion-red) !important;
    }
    .send-icon {
        color: var(--ion-red);
        font-size: 24px;
        margin: 15px auto 0;
        cursor: pointer;
    }
    .drop-down {
        border-radius: 8px;
        border: 1px solid #c7c7c7;
        margin-bottom: 4px;
        ion-icon {
            color: #889198;
            margin-right: 4px;
        }
        label,
        ion-label {
            color: #c8cccf;
            font-size: 13px;
        }
        ion-input {
            margin-left: 5px;
        }
        textarea {
            height: 40px;
            width: 100%;
            max-height: 180px;
            direction: rtl;
            min-height: 40px;
            border: none;
            resize: none;
            padding: 10px;
        }
        p {
            font-size: 9px;
            font-weight: 600;
            cursor: pointer;
            color: #fff;
            background: #858c9c;
            border-radius: 50%;
            width: 25px;
            height: 23px;
            text-align: center;
            padding-top: 7px;
            margin-right: 5px;
        }
        .dark-grey {
            background: #858c9c !important
        }
    }
}