
ion-row
{
    --padding-top: 4px; 
    --padding-bottom: 4px;
    --padding-start: 4px;
    --padding-end: 4px;
    --min-height: auto;
}
ion-header{
    
        ion-row {
            min-height: auto;
            --padding-bottom: 0;
            --padding-top: 0;
            ion-col:first-child {
                p {
                    background: #0ff0e2;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    padding: 3px 0 0 0;
                    color: #04ab99;
                    margin: 0 auto;
                }
            }
            ion-col:nth-child(2) {
                p {
                    color: #1f2630;
                    font-size: 13px;
                    font-weight: 700;
                    padding-top: 4px;
                }
            }
            ion-col:nth-child(3) {
                ion-icon
                {
                    font-size: x-large;
                    padding-right: 10px;
                }
            }
        }
    
}
ion-footer{
    ion-row{
        ion-icon{
            font-size: x-large;
            padding-top: 8px;
            padding-right: 5px;
        }
    }
}
.row_border
{
    border: solid;
    /* color: aliceblue; */
    background-color: aquamarine;
}
.urdu-font{
        line-height: 1.7em;
        font-weight: 600;
}


// .circle {
//     text-align: center;
//     width: 30px;
//     height: 30px;
//     background: #da0000;
//     color: #fff;
//     border-radius: 50%;
//     font-size: 11px;
//     padding-top: 9px;
// }
// ion-icon
// {
//     height: 30px;
//     width: 30px;
//     padding-right: 10px;
// }
// .urdu-font{
//     line-height: 1.7em;
//     font-weight: 600;
// }
// .footer_image
// {
//     height: 30px;
//     width: 30px;
    
// }
// .footer_text
// {
//     font-size: x-small;
//     padding-top: 10px;
    
// }
// .urdu-align
// {
//     margin-left: 70%;
// }
// .image
// {
//     height: 30px;
//     width: 30px;
//     // margin-top: 10px;
// }
// .row_border
// {
//     border: solid;
//     /* color: aliceblue; */
//     background-color: aquamarine;
// }
// .main_card
// {
//     border-radius: 0px;
    
  
//     -webkit-box-shadow: none;
//     box-shadow: none;
   
// }
// ion-card-content
// {
//     height: 150px;
//     overflow-y: scroll !important
// }
// @media (min-width:350px) and (max-width: 800px)
// {
//     ion-icon
//     {
//         height: 25px;
//         width: 25px;
//         padding-right: 0px;
//         padding-top: 4px;
//     }
//     ion-card-content
//     {
//         height: 250px;
//     }
//     .footer_text{
//         padding-left: 5px;
//     }
//     .force_margin
//     {
//         margin-left: 5px;
//     }
   
// }
// @media(max-width:350px)
// {
//     ion-icon
//     {
//         height: 20px;
//         width: 20px;
//         padding-right: 0px;
//         padding-top: 5px;
//     }
//     ion-card-content
//     {
//         height: 150px;
//     }
//     .footer_text{
//         padding-left: 5px;
//     }
//     .force_margin
//     {
//         margin-left: 5px;
//     }
// }

