<!-- <ion-header>
        <ion-toolbar>
                <ion-menu-button slot="start"></ion-menu-button>
          <ion-title no-padding>NMS</ion-title>
          <p slot="end">My Points <span class="badge" (click)=" myPoints()">5</span></p>
         <span [routerLink]="['/home/mynotification']" [routerDirection]="'forward'" slot="end">
          <ion-icon name="notifications-outline" class="badge1" data-badge="27"></ion-icon>
        </span>
        </ion-toolbar>
      </ion-header> -->
<ion-router-outlet></ion-router-outlet>