<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>digital portal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="circle">All</p>
      </ion-col>
      <ion-col>
        <p class="circle light-grey">B</p>
      </ion-col>
      <ion-col>
        <p class="circle light-grey">
          <ion-icon name="pin"></ion-icon>
        </p>
      </ion-col>
      <ion-col>
        <p class="circle light-grey">T</p>
      </ion-col>
      <ion-col>
        <p class="circle light-grey">
          <ion-icon name="search"></ion-icon>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card no-margin>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <p class="circle"></p>
              </ion-col>
              <ion-col size="10">
                <h5 no-margin>Lahore - Sahiwal CTD</h5>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p class="post">Lahore - Sahiwal CTD</p>
              </ion-col>
            </ion-row>
            <ion-row class="news-detail">
              <ion-col size="6">
                <ion-row>
                  <ion-col size="4" no-padding>
                    <p class="circle-sm light-grey">
                      <ion-icon name="create"></ion-icon>
                    </p>
                  </ion-col>
                  <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                      <ion-col size="8" no-padding>
                    <p class="circleTransparent-sm">
                      <ion-icon name="attach"></ion-icon>(2)
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="4" class="client-logo" no-padding>
                    <p>
                      <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                    </p>
                  </ion-col>
                  <ion-col size="8" no-padding>
                    <p class="beat">Facebook</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
              <ion-row class="news-detail">
              <ion-col size="6">
                <ion-row>
                  <ion-col size="4" class="client-logo" no-padding>
                    <p>
                      <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                    </p>
                  </ion-col>
                  <ion-col size="8" no-padding>
                    <p class="beat">Crime</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6">
                <ion-row>
                        <ion-col size="4" no-padding>
                          <p class="circle-sm dark-grey">I</p>
                        </ion-col>
                      <ion-col size="8" no-padding>
                        <p class="beat">3 min ago</p>
                      </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
          <ion-card no-margin>
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <p class="circle"></p>
                </ion-col>
                <ion-col size="10">
                  <h5 no-margin>Lahore - Sahiwal CTD</h5>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="post">Lahore - Sahiwal CTD</p>
                </ion-col>
              </ion-row>
              <ion-row class="news-detail">
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="4" no-padding>
                      <p class="circle-sm light-grey">
                        <ion-icon name="create"></ion-icon>
                      </p>
                    </ion-col>
                    <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                        <ion-col size="8" no-padding>
                      <p class="circleTransparent-sm">
                        <ion-icon name="attach"></ion-icon>(2)
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="4" class="client-logo" no-padding>
                      <p>
                        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                      </p>
                    </ion-col>
                    <ion-col size="8" no-padding>
                      <p class="beat">Facebook</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
                <ion-row class="news-detail">
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="4" class="client-logo" no-padding>
                      <p>
                        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                      </p>
                    </ion-col>
                    <ion-col size="8" no-padding>
                      <p class="beat">Crime</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">
                  <ion-row>
                          <ion-col size="4" no-padding>
                            <p class="circle-sm dark-grey">I</p>
                          </ion-col>
                        <ion-col size="8" no-padding>
                          <p class="beat">3 min ago</p>
                        </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="4">
            <ion-card no-margin>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <p class="circle"></p>
                  </ion-col>
                  <ion-col size="10">
                    <h5 no-margin>Lahore - Sahiwal CTD</h5>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p class="post">Lahore - Sahiwal CTD</p>
                  </ion-col>
                </ion-row>
                <ion-row class="news-detail">
                  <ion-col size="6">
                    <ion-row>
                      <ion-col size="4" no-padding>
                        <p class="circle-sm light-grey">
                          <ion-icon name="create"></ion-icon>
                        </p>
                      </ion-col>
                      <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                          <ion-col size="8" no-padding>
                        <p class="circleTransparent-sm">
                          <ion-icon name="attach"></ion-icon>(2)
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row>
                      <ion-col size="4" class="client-logo" no-padding>
                        <p>
                          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                        </p>
                      </ion-col>
                      <ion-col size="8" no-padding>
                        <p class="beat">Facebook</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                  <ion-row class="news-detail">
                  <ion-col size="6">
                    <ion-row>
                      <ion-col size="4" class="client-logo" no-padding>
                        <p>
                          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                        </p>
                      </ion-col>
                      <ion-col size="8" no-padding>
                        <p class="beat">Crime</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row>
                            <ion-col size="4" no-padding>
                              <p class="circle-sm dark-grey">I</p>
                            </ion-col>
                          <ion-col size="8" no-padding>
                            <p class="beat">3 min ago</p>
                          </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" size-md="4">
          <ion-card no-margin>
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <p class="circle"></p>
                </ion-col>
                <ion-col size="10">
                  <h5 no-margin>Lahore - Sahiwal CTD</h5>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="post">Lahore - Sahiwal CTD</p>
                </ion-col>
              </ion-row>
              <ion-row class="news-detail">
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="4" no-padding>
                      <p class="circle-sm light-grey">
                        <ion-icon name="create"></ion-icon>
                      </p>
                    </ion-col>
                    <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                        <ion-col size="8" no-padding>
                      <p class="circleTransparent-sm">
                        <ion-icon name="attach"></ion-icon>(2)
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="4" class="client-logo" no-padding>
                      <p>
                        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                      </p>
                    </ion-col>
                    <ion-col size="8" no-padding>
                      <p class="beat">Facebook</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
                <ion-row class="news-detail">
                <ion-col size="6">
                  <ion-row>
                    <ion-col size="4" class="client-logo" no-padding>
                      <p>
                        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                      </p>
                    </ion-col>
                    <ion-col size="8" no-padding>
                      <p class="beat">Crime</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">
                  <ion-row>
                          <ion-col size="4" no-padding>
                            <p class="circle-sm dark-grey">I</p>
                          </ion-col>
                        <ion-col size="8" no-padding>
                          <p class="beat">3 min ago</p>
                        </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="4">
            <ion-card no-margin>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <p class="circle"></p>
                  </ion-col>
                  <ion-col size="10">
                    <h5 no-margin>Lahore - Sahiwal CTD</h5>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p class="post">Lahore - Sahiwal CTD</p>
                  </ion-col>
                </ion-row>
                <ion-row class="news-detail">
                  <ion-col size="6">
                    <ion-row>
                      <ion-col size="4" no-padding>
                        <p class="circle-sm light-grey">
                          <ion-icon name="create"></ion-icon>
                        </p>
                      </ion-col>
                      <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                          <ion-col size="8" no-padding>
                        <p class="circleTransparent-sm">
                          <ion-icon name="attach"></ion-icon>(2)
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row>
                      <ion-col size="4" class="client-logo" no-padding>
                        <p>
                          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                        </p>
                      </ion-col>
                      <ion-col size="8" no-padding>
                        <p class="beat">Facebook</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                  <ion-row class="news-detail">
                  <ion-col size="6">
                    <ion-row>
                      <ion-col size="4" class="client-logo" no-padding>
                        <p>
                          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                        </p>
                      </ion-col>
                      <ion-col size="8" no-padding>
                        <p class="beat">Crime</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row>
                            <ion-col size="4" no-padding>
                              <p class="circle-sm dark-grey">I</p>
                            </ion-col>
                          <ion-col size="8" no-padding>
                            <p class="beat">3 min ago</p>
                          </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="4">
              <ion-card no-margin>
                <ion-grid>
                  <ion-row>
                    <ion-col size="2">
                      <p class="circle"></p>
                    </ion-col>
                    <ion-col size="10">
                      <h5 no-margin>Lahore - Sahiwal CTD</h5>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p class="post">Lahore - Sahiwal CTD</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="news-detail">
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="4" no-padding>
                          <p class="circle-sm light-grey">
                            <ion-icon name="create"></ion-icon>
                          </p>
                        </ion-col>
                        <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                            <ion-col size="8" no-padding>
                          <p class="circleTransparent-sm">
                            <ion-icon name="attach"></ion-icon>(2)
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="4" class="client-logo" no-padding>
                          <p>
                            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                          </p>
                        </ion-col>
                        <ion-col size="8" no-padding>
                          <p class="beat">Facebook</p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                    <ion-row class="news-detail">
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="4" class="client-logo" no-padding>
                          <p>
                            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                          </p>
                        </ion-col>
                        <ion-col size="8" no-padding>
                          <p class="beat">Crime</p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                              <ion-col size="4" no-padding>
                                <p class="circle-sm dark-grey">I</p>
                              </ion-col>
                            <ion-col size="8" no-padding>
                              <p class="beat">3 min ago</p>
                            </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12" size-md="4">
            <ion-card no-margin>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <p class="circle"></p>
                  </ion-col>
                  <ion-col size="10">
                    <h5 no-margin>Lahore - Sahiwal CTD</h5>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p class="post">Lahore - Sahiwal CTD</p>
                  </ion-col>
                </ion-row>
                <ion-row class="news-detail">
                  <ion-col size="6">
                    <ion-row>
                      <ion-col size="4" no-padding>
                        <p class="circle-sm light-grey">
                          <ion-icon name="create"></ion-icon>
                        </p>
                      </ion-col>
                      <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                          <ion-col size="8" no-padding>
                        <p class="circleTransparent-sm">
                          <ion-icon name="attach"></ion-icon>(2)
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row>
                      <ion-col size="4" class="client-logo" no-padding>
                        <p>
                          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                        </p>
                      </ion-col>
                      <ion-col size="8" no-padding>
                        <p class="beat">Facebook</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                  <ion-row class="news-detail">
                  <ion-col size="6">
                    <ion-row>
                      <ion-col size="4" class="client-logo" no-padding>
                        <p>
                          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                        </p>
                      </ion-col>
                      <ion-col size="8" no-padding>
                        <p class="beat">Crime</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="6">
                    <ion-row>
                            <ion-col size="4" no-padding>
                              <p class="circle-sm dark-grey">I</p>
                            </ion-col>
                          <ion-col size="8" no-padding>
                            <p class="beat">3 min ago</p>
                          </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="4">
              <ion-card no-margin>
                <ion-grid>
                  <ion-row>
                    <ion-col size="2">
                      <p class="circle"></p>
                    </ion-col>
                    <ion-col size="10">
                      <h5 no-margin>Lahore - Sahiwal CTD</h5>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p class="post">Lahore - Sahiwal CTD</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="news-detail">
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="4" no-padding>
                          <p class="circle-sm light-grey">
                            <ion-icon name="create"></ion-icon>
                          </p>
                        </ion-col>
                        <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                            <ion-col size="8" no-padding>
                          <p class="circleTransparent-sm">
                            <ion-icon name="attach"></ion-icon>(2)
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="4" class="client-logo" no-padding>
                          <p>
                            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                          </p>
                        </ion-col>
                        <ion-col size="8" no-padding>
                          <p class="beat">Facebook</p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                    <ion-row class="news-detail">
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="4" class="client-logo" no-padding>
                          <p>
                            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                          </p>
                        </ion-col>
                        <ion-col size="8" no-padding>
                          <p class="beat">Crime</p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                              <ion-col size="4" no-padding>
                                <p class="circle-sm dark-grey">I</p>
                              </ion-col>
                            <ion-col size="8" no-padding>
                              <p class="beat">3 min ago</p>
                            </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
            <ion-col size="12" size-md="4">
                <ion-card no-margin>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <p class="circle"></p>
                      </ion-col>
                      <ion-col size="10">
                        <h5 no-margin>Lahore - Sahiwal CTD</h5>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <p class="post">Lahore - Sahiwal CTD</p>
                      </ion-col>
                    </ion-row>
                    <ion-row class="news-detail">
                      <ion-col size="6">
                        <ion-row>
                          <ion-col size="4" no-padding>
                            <p class="circle-sm light-grey">
                              <ion-icon name="create"></ion-icon>
                            </p>
                          </ion-col>
                          <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                              <ion-col size="8" no-padding>
                            <p class="circleTransparent-sm">
                              <ion-icon name="attach"></ion-icon>(2)
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col size="6">
                        <ion-row>
                          <ion-col size="4" class="client-logo" no-padding>
                            <p>
                              <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                            </p>
                          </ion-col>
                          <ion-col size="8" no-padding>
                            <p class="beat">Facebook</p>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                      <ion-row class="news-detail">
                      <ion-col size="6">
                        <ion-row>
                          <ion-col size="4" class="client-logo" no-padding>
                            <p>
                              <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                            </p>
                          </ion-col>
                          <ion-col size="8" no-padding>
                            <p class="beat">Crime</p>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col size="6">
                        <ion-row>
                                <ion-col size="4" no-padding>
                                  <p class="circle-sm dark-grey">I</p>
                                </ion-col>
                              <ion-col size="8" no-padding>
                                <p class="beat">3 min ago</p>
                              </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card>
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-md="4">
              <ion-card no-margin>
                <ion-grid>
                  <ion-row>
                    <ion-col size="2">
                      <p class="circle"></p>
                    </ion-col>
                    <ion-col size="10">
                      <h5 no-margin>Lahore - Sahiwal CTD</h5>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p class="post">Lahore - Sahiwal CTD</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="news-detail">
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="4" no-padding>
                          <p class="circle-sm light-grey">
                            <ion-icon name="create"></ion-icon>
                          </p>
                        </ion-col>
                        <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                            <ion-col size="8" no-padding>
                          <p class="circleTransparent-sm">
                            <ion-icon name="attach"></ion-icon>(2)
                          </p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="4" class="client-logo" no-padding>
                          <p>
                            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                          </p>
                        </ion-col>
                        <ion-col size="8" no-padding>
                          <p class="beat">Facebook</p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                    <ion-row class="news-detail">
                    <ion-col size="6">
                      <ion-row>
                        <ion-col size="4" class="client-logo" no-padding>
                          <p>
                            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                          </p>
                        </ion-col>
                        <ion-col size="8" no-padding>
                          <p class="beat">Crime</p>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="6">
                      <ion-row>
                              <ion-col size="4" no-padding>
                                <p class="circle-sm dark-grey">I</p>
                              </ion-col>
                            <ion-col size="8" no-padding>
                              <p class="beat">3 min ago</p>
                            </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
            <ion-col size="12" size-md="4">
                <ion-card no-margin>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <p class="circle"></p>
                      </ion-col>
                      <ion-col size="10">
                        <h5 no-margin>Lahore - Sahiwal CTD</h5>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <p class="post">Lahore - Sahiwal CTD</p>
                      </ion-col>
                    </ion-row>
                    <ion-row class="news-detail">
                      <ion-col size="6">
                        <ion-row>
                          <ion-col size="4" no-padding>
                            <p class="circle-sm light-grey">
                              <ion-icon name="create"></ion-icon>
                            </p>
                          </ion-col>
                          <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                              <ion-col size="8" no-padding>
                            <p class="circleTransparent-sm">
                              <ion-icon name="attach"></ion-icon>(2)
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col size="6">
                        <ion-row>
                          <ion-col size="4" class="client-logo" no-padding>
                            <p>
                              <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                            </p>
                          </ion-col>
                          <ion-col size="8" no-padding>
                            <p class="beat">Facebook</p>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                      <ion-row class="news-detail">
                      <ion-col size="6">
                        <ion-row>
                          <ion-col size="4" class="client-logo" no-padding>
                            <p>
                              <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                            </p>
                          </ion-col>
                          <ion-col size="8" no-padding>
                            <p class="beat">Crime</p>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col size="6">
                        <ion-row>
                                <ion-col size="4" no-padding>
                                  <p class="circle-sm dark-grey">I</p>
                                </ion-col>
                              <ion-col size="8" no-padding>
                                <p class="beat">3 min ago</p>
                              </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card>
              </ion-col>
              <ion-col size="12" size-md="4">
                  <ion-card no-margin>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="2">
                          <p class="circle"></p>
                        </ion-col>
                        <ion-col size="10">
                          <h5 no-margin>Lahore - Sahiwal CTD</h5>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <p class="post">Lahore - Sahiwal CTD</p>
                        </ion-col>
                      </ion-row>
                      <ion-row class="news-detail">
                        <ion-col size="6">
                          <ion-row>
                            <ion-col size="4" no-padding>
                              <p class="circle-sm light-grey">
                                <ion-icon name="create"></ion-icon>
                              </p>
                            </ion-col>
                            <!-- <ion-col size="8" [style.border-right]="'2px solid #bfc2c9'" no-padding> -->
                                <ion-col size="8" no-padding>
                              <p class="circleTransparent-sm">
                                <ion-icon name="attach"></ion-icon>(2)
                              </p>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                        <ion-col size="6">
                          <ion-row>
                            <ion-col size="4" class="client-logo" no-padding>
                              <p>
                                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                              </p>
                            </ion-col>
                            <ion-col size="8" no-padding>
                              <p class="beat">Facebook</p>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                        <ion-row class="news-detail">
                        <ion-col size="6">
                          <ion-row>
                            <ion-col size="4" class="client-logo" no-padding>
                              <p>
                                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_square-512.png">
                              </p>
                            </ion-col>
                            <ion-col size="8" no-padding>
                              <p class="beat">Crime</p>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                        <ion-col size="6">
                          <ion-row>
                                  <ion-col size="4" no-padding>
                                    <p class="circle-sm dark-grey">I</p>
                                  </ion-col>
                                <ion-col size="8" no-padding>
                                  <p class="beat">3 min ago</p>
                                </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card>
                </ion-col>
          </ion-row>
  </ion-grid>
</ion-content>